.watch {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .back {
        position: absolute;
        display: flex;
        color: white;
        opacity: 0.2;
        cursor: pointer;
        align-items: center;
        top: 50%;
        left: 10px;
        z-index: 2;
    }
}

iframe {
    object-fit: cover;
}

.video {
    overflow: auto;
}